{% extends 'base.html' %}

{% load static %}
{% block header %}
<header class="intro-header" style="background-image: url('{% static 'img/home-bg.jpg' %} ')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Gevin's Blog</h1>
                        <hr class="small">
                        <span class="subheading">技术、生活都要折腾</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-1">
            {% for post in posts %}
            <div class="post-preview">
                <a href="{% url 'main:post' post.id %}">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                </a>
                <p class="post-subtitle">
                    {{post.abstract}}
                </p>
                <p class="post-meta">Posted by <a href="#">{{ post.author.username }}</a> on {{post.pub_time}}</p>
                <p class="post-meta">catagory: <a href="#">{{ post.catagory.name }}</a></p>
            </div>
            <hr>
            {% empty %}
                <p class="post-subtitle">
                    No articles found here
                </p>
            {% endfor %}
            <!-- Pager -->
            <ul class="pager">
                {% if posts.has_next %}
                <li class="next">
                    <a href="?page={{ posts.next_page_number }}">Older Posts &rarr;</a>
                </li>
                {% endif %}
                {% if posts.has_previous %}
                    <li class="next"><a href="?page={{ posts.previous_page_number }}">Previous Posts</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-3 col-md-2">
            <h3>Tags</h3><hr/>
            {% for tag in tags %}
                <a href="?tag={{tag.id}}" class="post-tag">
                    {% if tag.id == tag_id %}
                    <span class="label label-primary">
                        {{ tag.name }}
                        <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                    </span>
                    
                    {% else %}
                    <span class="label label-default">
                        {{ tag.name }}
                    </span>
                    
                    {% endif %}
                    
                </a>
                &nbsp;
            {% endfor %}
            
            <h3>Category</h3><hr/>
            <div class="list-group">
                {% for catagory in catagories %}
                    {% if catagory_id == catagory.id %}
                        <a href="?catagory={{catagory.id}}" class="list-group-item catagory-list active">{{ catagory.name }} 
                        <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                        <span class="badge">&nbsp;{{catagory.num_posts}}&nbsp;</span></a>
                    {% else %}
                        <a href="?catagory={{catagory.id}}" class="list-group-item catagory-list ">{{ catagory.name }} 
                        <span class="badge">&nbsp;{{catagory.num_posts}}&nbsp;</span></a>
                    {% endif %}
                    
                {% endfor %}
            </div>

            <!-- <ul class="list-group">
                {% for catagory in catagories %}
                    {% if catagory_id == catagory.id %}
                        <li class="list-group-item catagory-list active">
                            <span class="badge">&nbsp;{{catagory.num_posts}}&nbsp;</span></a>
                            <a href="?catagory={{catagory.id}}">{{ catagory.name }} </a>
                            <a href="."><span class="glyphicon glyphicon-remove small" aria-hidden="true"></span></a>
                        </li>
                    {% else %}
                        <li class="list-group-item catagory-list">
                            <span class="badge">&nbsp;{{catagory.num_posts}}&nbsp;</span></a>
                            <a href="?catagory={{catagory.id}}">{{ catagory.name }} </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
 -->
            
        </div>
    </div>
</div>

<hr>
{% endblock %}

{% block js %}
<script type="text/javascript">
$('.rm-filter').on('click', function (event) {
    // var answer = confirm("Delete post?");
    // return answer;

    // alert("something");
    location.href = "{% url 'main:index' %}";
    return false;
  });
</script>
{% endblock %}