{% extends 'base.html' %}
{% block title %} 文章 {% endblock %}

{% load static %}
{% block header %}
<header class="intro-header" style="background-image: url('{% static 'img/post-bg.jpg' %} ')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{page.title}}</h1>
                        <span class="meta">Posted by <a href="#">{{page.author.account.display_name}}</a> on {{page.pub_time}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{page.content_html|safe}}
                </div>
            </div>
        </div>
    </article>

    <hr>

{% endblock %}
