{% extends 'base.html' %}
{% block title %} {{post.title}} {% endblock %}

{% load static %}
{% block header %}
<header class="intro-header" style="background-image: url('{% static 'img/home-bg.jpg' %} ')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{post.title}}</h1>
                        <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
                        <span class="meta">Posted by <a href="#">{{post.author}}</a> on {{post.pub_time}}</span>

                        <span class="meta">Category:
                        {% if post.category %}
                            <a href="{% url 'main:index' %}?category={{post.category.id}}">{{post.category.name}}</a>
                        {% else %}
                            None
                        {% endif %}
                        </span>

                        <span class="meta">Tags:
                        {% for tag in tags %}
                            <a href="{% url 'main:index' %}?tag={{tag.id}}">{{tag.name}}</a>{% if not forloop.last%},  {% else %}{% endif %} 
                        {% empty %}
                            None
                        {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{post.content_html|safe}}
                </div>
            </div>
        </div>
    </article>

    <hr>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ comment_script }}
                </div>
            </div>
        </div>
    </article>

    

{% endblock %}
