{% extends "admin_base.html" %}
{% block title %}Groups{% endblock %}

{% block main %}

<div class="row">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Group Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr id="group-{{ group.id }}">
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'accounts:group' group.id %}">{{ group.name }}</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7">No group yet</td></tr>
        {% endfor %}     
        </tbody>
    </table>


    <!-- </div> -->
    <!-- <div class="col-md-2">.col-md-2</div> -->
</div>
{% endblock %}

