{% extends "admin_base.html" %}

{% block title %}{{ title }}{% endblock %}


{% block main %}
{% load bootstrap3 %}
<div class="row">
    <div class="col-xs-6 col-sm-3"></div>
    <div class="col-xs-6 col-sm-6">
        <form method="POST" action="">
        {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary" name="login">
            {% if btn_name %}
                {{ btn_name }}
            {% else %}
                submit
            {% endif %}
            </button>
        </form>
    </div>
    <div class="col-xs-6 col-sm-3"></div>
</div>

{% endblock %}