{% extends "admin_base.html" %}
{% block title %}Admin Category{% endblock %}

{% block main %}

{% load bootstrap3 %}

<div class="row">
    <!-- <div class="col-md-10 col-md-offset-1"> -->
        <form class="form-inline" method="POST" >
        {% csrf_token %}                
                    
            {% bootstrap_form form %}

            <button type="submit" class="btn btn-primary" name="publish" value="publish">Create</button>
        </form>
    <!-- </div> -->


</div>

<hr>

<div class="row">

    <!-- <div class="col-md-10 col-md-offset-1"> -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in catagories %}
                <tr id="post-{{ category.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'main:admin_filter_posts' %}?category={{ category.id }}">{{ category.name }}</a></td>
                    <td>
                        <a href="{% url 'main:admin_edit_category' category.id %}" class="edit-category" data-name='{{ category.name }}'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
                        &nbsp
                        <a href="{% url 'main:admin_delete_category' category.id %}" class="del-category"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% bootstrap_pagination catagories %}

    <!-- </div> -->
    <!-- <div class="col-md-2">.col-md-2</div> -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$('.del-category').on('click', function (event) {
    id = $(this).data('id')
    var url = $(this).attr('href');
    bootbox.confirm("Are you sure?", function(result) {
        if(result){
            $.ajax({
                url: url,
                type: 'GET',
                success: function(result){
                    location.reload();
                }
            });
        }

    });
    return false;
  });

$('.edit-category').on('click', function (event){
    var url = $(this).attr('href');
    var name = $(this).data('name')
    bootbox.prompt({
        title: "Update category",
        value: name,
        callback: function(result) {
            if (result === null) {
              return;
            } else {
              $.ajax({
                url:url,
                type: 'GET',
                data: {'name': result},
                success: function(result2){
                    location.reload();
                }
              });
            }
        }
    });
    return false;
});

</script>
{% endblock %}
