{% extends 'admin_base.html' %}
{% block title %}May Blog Admin {% endblock %}

{%block main %}

<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <h3>
            Blog Meta Data &nbsp;
            <small><a href="{% url 'main:admin_blog_meta' %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a></small>
        </h3>
        <hr>
        <dl class="dl-horizontal">
            <dt>Blog Name:</dt>
            <dd>{{ site_info.title }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Blog Subtitle:</dt>
            <dd>{{ site_info.subtitle }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Blog Description:</dt>
            <dd>{{ site_info.desc }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Blog Owner:</dt>
            <dd>{{ site_info.author }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Blog Keywords:</dt>
            <dd>{{ site_info.keywords }}</dd>
        </dl>
    </div>
    <div class="row">
        <h3>
            About User &nbsp;
            <small><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a></small>
        </h3>
        <hr>
        <dl class="dl-horizontal">
            <dt>Username Name:</dt>
            <dd>{{account_info.username}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Display Name:</dt>
            <dd>{{account_info.display_name}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Biography:</dt>
            <dd>{{account_info.biography}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Social Network:</dt>
            <dd>
                {% if account_info.github %}
                    <a href='account_info.github'><i class="fa fa-github"></i></a>
                {% endif %}

                {% if account_info.twitter %}
                    <a href='account_info.twitter'><i class="fa fa-twitter"></i></a>
                {% endif %}

                {% if account_info.weibo %}
                    <a href='account_info.weibo'><i class="fa fa-weibo"></i></a>
                {% endif %}

            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Homepage:</dt>
            <dd>
                {% if account_info.homepage %}
                <a href="{{account_info.homepage}}"><i class="fa fa-home"></i></a> {{account_info.homepage}}
                {% endif %}
            </dd>
        </dl>
    </div>
</div>

{% endblock %}