{% extends "admin_base.html" %}
{% block title %}Posts{% endblock %}

{% block main %}
{% load bootstrap3 %}
<div class="row">
    <!-- <div class="col-md-10"> -->
    <!-- <h1>New Post</h1> -->
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Abstract</th>
                <th>Author</th>
                <th>Pub Date</th>
                <th>Actions</th>
            </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.abstract }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.pub_date }}</td>
            <td>
                <a href="{% url 'main:admin_edit_post' post.id %}">Edit</a>
                &nbsp
                <a href="#">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <!-- </div> -->
    <!-- <div class="col-md-2">.col-md-2</div> -->
</div>
{% endblock %}