{% extends "admin_base.html" %}
{% block title %}Posts{% endblock %}

{% block main %}
{% load bootstrap3 %}
<div class="row">
    <!-- <div class="col-md-10"> -->
    <!-- <h1>New Post</h1> -->
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Author</th>
                <th>Publish Date</th>
                <th>Update Date</th>
                <th>Actions</th>
            </tr>
    </thead>
    <tbody>
    {% if is_blog_page %}
        {% for post in posts %}
        <tr id="post-{{ post.id }}">
            <td><a href="{% url 'main:page' post.id %}" target="_blank">{{ post.title }}</td>
            <td>{{ post.slug }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.pub_time }}</td>
            <td>{{ post.update_time }}</td>
            <td>
                <a href="{% url 'main:admin_edit_page' post.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
                &nbsp
                <a href="{% url 'main:admin_delete_page' post.id %}"  class="del-post"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="6">No pages yet</td></tr>
        {% endfor %}
    {% else %}
        {% for post in posts %}
        <tr id="post-{{ post.id }}">
            <td><a href="{% url 'main:post' post.id %}" target="_blank">{{ post.title }}</td>
            <td>{{ post.abstract }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.pub_time }}</td>
            <td>{{ post.update_time }}</td>
            <td>
                <a href="{% url 'main:admin_edit_post' post.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
                &nbsp
                <a href="{% url 'main:admin_delete_post' post.id %}"  class="del-post"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="6">No posts yet</td></tr>
        {% endfor %}
    {% endif %}      
    </tbody>
    </table>

    {% bootstrap_pagination posts %}

    <!-- </div> -->
    <!-- <div class="col-md-2">.col-md-2</div> -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$('.del-post').on('click', function (event) {
    // var answer = confirm("Delete post?");
    // return answer;
    var url = $(this).attr('href');

    bootbox.confirm("Are you sure?", function(result) {
      if(result){
        $.get(url, function(){
            location.reload();
        });
        }

    });
    return false;
  });
</script>
{% endblock %}
